.cartitems {
  margin: 100px 170px;
  /* margin: 60px 50px; */
}

.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}
.cartitems-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 25px 0;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}
.cartitems-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}
.cartitems-quantity {
  width: 50px;
  height: 35px;
  border: 2px solid #ebebeb;
  background: #fff;
}
.carticon-product-icon{
  height: 60px;
}
.cart_items-down {
  display: flex;
  margin: 100px 0px;
}

.cart_items-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  gap: 40px;
}

.cart_items-total_items {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  font-size: 17px;
}
.cart_items-total button {
  width: 250px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.cartitems-quantity-box {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between buttons */
}

.cartitems-quantity {
    width: 40px; /* Force fixed width so it doesn't jump */
    height: 40px;
    border: 2px solid #ebebeb;
    background: #fff;
    cursor: default; /* Not clickable itself */
}

.quantity-btn {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    user-select: none; /* Prevents highlighting text when clicking fast */
    padding: 0 5px;
    color: #444;
}

.quantity-btn:hover {
    color: #ff4141; /* Red hover effect */
    background-color: #f0f0f0;
    border-radius: 50%;
}