.loginsignup {
  width: 100%;
  height: 80vh;
  background: #fce3fe;
  padding-top: 100px;
  overflow-y: hidden;
}

.loginsignup-container {

 width: 580px;
  height: 540px;
  background: #fff;
  margin: auto;
  padding: 50px 60px;
}

.loginsignup-container h1 {
  margin: 20px 0px;
}
.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
.loginsignup-fields input {
  width: 100%;
  height: 70px;
  border: 1px solid #c9c9c9;
  color: #5c5c5c;
  outline: none;
  padding-left: 20px;
  font-size: 18px;
}
.loginsignup-container button {
  width: 580px;
  height: 72px;
  background: #ff4141;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}
.loginsignup-login {
  margin-top: 30px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.loginsignup-login span {
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}
.loginsignup-agree {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 19px;
  font-size: 18px;
  font-weight: 500;
}
.btn{
  cursor: pointer;
}