/* @import "tailwindcss"; */

/* Ensure the app doesn't stretch infinitely on wide screens */
.App, .shop, .loginsignup {
  max-width: 1440px; /* Standard desktop width */
  margin: 0 auto;    /* Centers the content */
  width: 100%;
}

/* Fix base font size if it's too large */
html {
  font-size: 16px; /* Default browser size */
}

*{
  margin: 0; 
}
body {
   overflow-x: hidden; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
