.logout-button {
  width: 130px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 16px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}
